shared_preload_libraries = 'pg_pathman, pg_shardman'

# print node ids in log messages
log_line_prefix = '%m %z'

# just to suppress logging
autovacuum = off

log_min_messages = DEBUG1
# client_min_messages = NOTICE
# client_min_messages = INFO
client_min_messages = PANIC

wal_level = logical
