shardman.master = on # this instance is shardlor?
shardman.master_dbname = ars # lord's dbname
shardman.master_connstring = 'port=5432' # lord's connstring
shardman.cmd_retry_naptime = 500 # sleep milliseconds after failure
shardman.poll_interval = 500 # long operations poll frequency
