shared_preload_libraries = 'pg_pathman, pg_shardman'

# just to suppress logging
autovacuum = off

log_min_messages = DEBUG1
# client_min_messages = NOTICE
client_min_messages = INFO

wal_level = logical
